{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static '/css/simple.min.css' %}">
</head>
<body>
<header>
    <h1>Contacts</h1>
    {% if user.is_authenticated %}
        <p><b>Hello, {{ user.username }}</b></p>
        <nav>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="{% url 'contact_list' %}">All Contacts</a>
                <a href="{% url 'new_contact' %}">New Contact</a>
                <a href="{% url 'password_change' %}">Change Password</a>
                <input type="submit" value="Log Out">
            </form>
        </nav>
    {% else %}
        <nav>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </nav>
    {% endif %}
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>

</body>
</html>