{% extends "base.html" %}

{% block content %}
    <aside>
        {% load gravatar %}
        <img src="{% gravatar_url object.email 200 %}"
             alt="User's Gravatar">
        <a href="{% gravatar_profile_url object.email %}">View Gravatar
            profile</a>
    </aside>
    <article>
        <h2>{{ object.first_name }} {{ object.last_name }}</h2>
        <p>Phone number: <a
                href="tel:{{ object.phone_number }}">{{ object.phone_number }}</a>
        </p>
        <p>Email: <a
                href="mailto:{{ object.email }}">{{ object.email }}</a>
        </p>
        <a class="button" href="{% url 'contact_edit' contact.pk %}">Edit</a>
        <a class="button"
           href="{% url 'contact_delete' contact.pk %}">Delete</a>
        {% if gravatar_profile is not None %}
            <section>
                <p>{{ gravatar_profile }}</p>
            </section>
        {% endif %}
    </article>
{% endblock content %}