{% extends "base.html" %}

{% block content %}
    <aside>
        {% load gravatar %}
        <img src="{% gravatar_url object.email 200 %}"
             alt="User's Gravatar">
    </aside>
    <article>
        <h2>{{ object.first_name }} {{ object.last_name }}</h2>
        <p>Phone number: <a
                href="tel:{{ object.phone_number }}">{{ object.phone_number }}</a>
        </p>
        <p>Email: <a
                href="mailto:{{ object.email }}">{{ object.email }}</a>
        </p>
        <a class="button" href="{% url 'contact_edit' contact.pk %}">Edit</a>
        <a class="button"
           href="{% url 'contact_delete' contact.pk %}">Delete</a>
        {% if gravatar_profile is not None %}
            <section>
            <h3><a href="{{ gravatar_profile.profileUrl }}">Gravatar
                Profile</a></h3>
            <h4>Verified Accounts</h4>
            {% for account in gravatar_profile.accounts %}
                <p>
                    <img src="{{ account.iconUrl }}"
                         alt="{{ account.name }} icon"
                         height="20px" width="20px">
                    <a href="{{ account.url }}">
                        {{ account.name }}
                    </a>
                </p>
            {% endfor %}
            <hr>
            <h4>Associated Images</h4>
            {% for photo in gravatar_profile.photos %}
                <img src="{{ photo.value }}" alt="image">
            {% endfor %}
        {% endif %}
        </section>
    </article>
    <section>
        <h3>Entry History</h3>
        {% if history %}
            <table style="font-size: .75em;">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Change Type</th>
                    <th>Day/Time</th>
                    <td>User</td>
                </tr>
                </thead>
                <tbody>
                {% for record in history %}
                    <tr>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.first_name }}</td>
                        <td>{{ record.phone_number }}</td>
                        <td>{{ record.email }}</td>
                        <td>
                            {{ record.history_type }}
                        </td>
                        <td>{{ record.history_date }}</td>
                        <td>{{ record.history_user }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No changes</p>
        {% endif %}
    </section>
{% endblock content %}